.Title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-image: linear-gradient(to right, rgb(113, 13, 0), rgb(165, 23, 4), rgb(113, 13, 0));
    color: #fff;
    font-size: 22px;
  }

.Title .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
  }

.Title .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }